@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cinzel:wght@400;500;600;800;900&family=Croissant+One&family=Heebo:wght@600&family=Josefin+Sans:ital,wght@1,400;1,500&family=Kdam+Thmor+Pro&family=Orbitron&family=PT+Sans&family=Source+Code+Pro&family=Ubuntu:ital,wght@0,300;1,300&family=Varela+Round&family=Young+Serif&display=swap');

body,
html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', 'Cinzel', 'Croissant One', serif;
}

.main {
    background-image: url('img/Netflix\ main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
}

.main .box {
    height: 130vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 60px;
    max-width: 80vw;
    padding-top: 16px;
}

nav img {
    color: red;
    position: relative;
    z-index: 11;
}

.btn {
    width: 9vw auto;
    padding: 5px 12px;
    margin-right: 50px;
    background-color: red;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: 'Heebo', 'Bitter', 'Cinzel', 'Croissant One', serif;
    position: relative;
    z-index: 10;
    font-size: 1.1em;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 10;
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 10px;
}

.hero span h1 {
    font-family: 'Heebo', 'Bitter', 'Cinzel', 'Croissant One', serif;
}

.hero span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 12px;
    font-size: 1.5em;
}

input {
    border-style: none;
    background-color: black;
    opacity: 0.7;
    border: 1px solid white;
    border-radius: 5px;
    width: 30vw;
    padding: 12px;
    height: 5vh;
    /* z-index: 10; */
    color: white;
    font-size: 1.3em;
}

input:hover {
    border: 2px solid white;
    color: white;
}

.line {
    width: 100%;
    height: 7px;
    background-color: rgb(52, 49, 49);
    opacity: 0.44;
}

.hero button {
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 15vw;
    padding: 12px;
    color: white;
    font-family: 'Heebo', 'Bitter', 'Cinzel', 'Croissant One', serif;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(164, 19, 19);
}

.second {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    text-align: left;
    padding: 72px 50px;
}

.text {
    text-align: left;
    padding: 0 15px;
}

.text h1,
p {
    font-family: 'Lucida Sans', 'Heebo', 'Bitter', 'Cinzel', 'Croissant One', serif;
    margin: 9px 55px;
    font-size: 1.4em;
    text-align: left;
    padding: 0;
}

.text h1 {
    font-size: 3em;
    margin-left: 15px;
}

.frame {
    margin-right: 32px;
    position: relative;
}

.frame img {
    position: relative;
    z-index: 10;
    width: 500px;
}

.frame video {
    position: absolute;
    top: 12px;
    right: 0;
    width: 440px;
}

.third {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    text-align: left;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
    height: 80vh;
    padding: 72px 50px;
}

.text1 h1,
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin: 4px 20px;
    padding: 0;
}

.text1 h1 {
    font-size: 3em;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.frame2 {
    position: relative;
    margin: 12px 0;
}

.frame2 img {
    position: relative;
}

.frame2 .down {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 12px;
    justify-content: space-around;
    width: 60%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 95px;
    background-color: black;
    margin-bottom: 50px;
}

span div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 8px 15px;
    font-size: 1.3em;
    padding: 5px auto;
}

div .lode {
    color: rgb(26, 26, 246);
}

.four {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    background-color: black;
    color: white;
    text-align: left;
}

.text3 {
    width: 50%;
    padding-left: 40px;
    padding-bottom: 40px;
}

.text3 h1 {
    padding-bottom: 15px;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text3 span {
    padding-bottom: 15px;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.five {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    padding: 30px 0px;
}

.text4 h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    margin: 20px 12px;
}

.text4 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin: 0 12px;
}

.question {
    background-color: black;
    width: 100%;
    height: 100% auto;
    color: white;
    text-align: center;
}

.question h1 {
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-1 {
    display: flex;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 70%;
    height: 10vh;
    padding: 8px 13px;
    justify-content: space-between;
    margin: 6px;
}

.box-container .text5 p {
    padding: 42px;
}

.box-container button {
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 15vw;
    padding: 12px;
    color: white;
    font-family: 'Heebo', 'Bitter', 'Cinzel', 'Croissant One', serif;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 44px;
}

.box-container button:hover {
    background-color: rgb(123, 3, 3);
}

.foot-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    padding: 72px 0;
}

.footline ul li {
    text-decoration: none;
    list-style: none;
    margin: 12px;
    color: aliceblue;
}

.footline ul li a {
    cursor: pointer;
    color: rgb(194, 195, 197);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footline select {
    cursor: pointer;
    margin-left: 12px;
    background-color: black;
    opacity: 1.44;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: small;
}

.footline p {
    font-size: 1em;
    margin-top: 12px;
}

@media (max-width: 500px) {
    .main {
        height: 160vh;
    }

    .main .hero h1 {
        padding: 0;
        font-size: 1.5em;
    }

    nav {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .main div button {
        display: block;
        font-size: 1em;
        width: auto;
        text-align: center;
        padding: 10px;
        margin: 12px;
    }

    .main input {
        width: auto;
        height: 3vh;
        margin: 12px;
    }
}

@media (max-width: 850px) {
    .main {
        height: 90%;
        padding: 0;
    }

    .main div button {
        font-size: 1.5em;
        width: auto;
        text-align: center;
        padding: 10px;
    }

    .main input {
        height: 3vh;
    }

    .main .box {
        height: 100%;
        padding: 0;
    }

    .second {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .second .frame img {
        width: 440px;
        margin: 0;

    }

    .third {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .third .frame2 .img {
        width: 430px;
        height: 300px;
        margin-top: 72px;
    }

    .third .text1 {
        text-align: center;
        padding: 33px 0;
        margin: 12px 0;
        font-size: 1em;
    }

    .text1 p {
        padding-bottom: 30px;
    }

    .third .frame2 {
        align-items: center;
    }

    .four {
        padding: 12px;
    }

    .five {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .five .kids img {
        width: 440px;
        margin: 0;
    }

    .five .text4 {
        text-align: center;
        margin: 12px
    }

    .box-container div button.btn {
        display: block;
        font-size: 1em;
        width: 40vw;
        height: 6vh;
        margin-left: 32px;
    }

    .box-container div input {
        width: auto;
        margin-bottom: 7px;
    }

    .foot-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }



}